<div class="displayTable container">
    
  

  <div class="col-md-6 offset-md-3 mt-5 mt-1 card">
    <div class="displayTableCell">
      <div class="authBlock">
        <h3 class="card-header bg-dark text-light text-center">Signin</h3>
        <div class="formGroup mt-2 p-2">
          <input
            type="text"
            class="form-control"
            placeholder="Username"
            #userName
            required
          />
        </div>
  
        <div class="formGroup p-2">
          <input
            type="password"
            class="form-control"
            placeholder="Password"
            #userPassword
            required
          />
        </div>
  
        <div class="formGroup row justify-content-md-center p-2">
          <input
            type="button"
            class="btn btn-primary btn-block col-3"
            value="Sign in"
            (click)="ngAuthService.SignIn(userName.value, userPassword.value)"
          />
        </div>
  
        <div class="formGroup row justify-content-md-center p-2">
          <button
            type="button"
            class="btn btn-danger btn-block col-3"
            (click)="ngAuthService.GoogleAuth()"
          >
            Log in with Google
          </button>
        </div>
  
        <div class="forgotPassword row text-center">
          <a routerLink="/forgot-password" routerLinkActive="active">Forgot Password?</a>
        </div>
      </div>
  
      <div class="redirectToLogin row text-center">
        <span
          >Not registered yet?<a class="redirect" routerLinkActive="active" routerLink="/sign-up">
            Register</a
          ></span
        >
      </div>
    </div>
  </div>
</div>