<div class="container">
    <div class="row mt-1 p-4 rounded cardbox justify-content-md-center">
        <div class="col-md-6 col-sm-12  mt-4 bg-light card m-2 rounded border border-dark">
            <div class="row bg-dark card-header">
                <img class="col-3 rounded border border-dark" alt="shits fucked m8" src="./assets/{{car.make}}.jpeg" 
                onerror="this.src='./assets/unkown.png'" height="150px" >
                <h1 class="col-6 text-center text-light mt-auto">{{car.make}} {{car.model}}</h1>
            </div>
            <div class="card-body">
                <div class="row">
                    <h5 class="col-6">Registration: {{car.reg}}</h5>
                    <h5 class="col-6 text-end">Year: {{car.year}}</h5>
                </div>
                <ul class="mt-2" *ngIf="car.tasks">
                    <li  *ngFor="let task of (car.tasks)">
                        <div *ngIf="task != completed" class="row">
                            <p class="col-6">{{task}}</p>
                            <button class="col-4 btn btn-success m-1 float-right" *ngIf="!task.completed"
                                >Complete</button>
                            <p class="col-6 text-end" *ngIf="task.completed">✔</p>
                        </div>

                        <div *ngIf="task == completed" class="row">
                            <strong class="col-6">Car ready for collection</strong>
                            <p class="col-6 text-end">✔</p>
                        </div>
                    </li>
                </ul>
                <div class="row d-flex">
                </div>
            </div>
        </div>

    </div>
    <!--
    <div class="col-md-4 col-sm-12  mt-4 bg-light card m-2 rounded border border-dark">
        <img id="apiIMG" src="" width="200px" height="200px">
    </div> 
    -->   
</div>