<nav class="navbar navbar-dark bg-dark navbar-expand">
    <div class="container-fluid">

        <div class="navbar-header">
            <h1 class="text-center text-light navbar-brand">GarageDB</h1>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
            </li>
            <li>
                <a class="nav-link" routerLink="/cardetails" routerLinkActive="active">Car Details</a>
            </li>
            <li>
                <a class="nav-link" routerLink="/add" routerLinkActive="active">Add Car</a>
            </li>
            <li>
                <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
            </li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>