<div class="displayTable container">
  <div class="col-md-6 offset-md-3 mt-5 mt-1 card">
    <div class="displayTableCell">
      <div class="authBlock">
        <h3 class="card-header bg-dark text-light text-center">Forgot Password</h3>
  
        <div class="formGroup">
          <input
            type="email"
            class="form-control p-2"
            placeholder="Email Address"
            #passwordResetEmail
            required
          />
        </div>
  
        <div class="formGroup row justify-content-center">
          <input
            type="submit"
            class="btn btn-primary btn-block col-4"
            value="Reset Password"
            (click)="ngAuthService.ForgotPassword(passwordResetEmail.value)"
          />
        </div>
      </div>
    </div>
  </div>
</div>